.weather-details {
  background-color: lightgray;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}

.weather-details p{
  font-size: 20px;
}

.weather-image {
  text-align: center;
}

.weather-image img {
  display: inline-block; /* Ensures the image respects text alignment */
  max-width: 100%;
  min-width: 50%;
  height: auto;
}
