.weather-details {
  background-color: lightgray;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}

.weather-details p{
  font-size: 20px;
}

.weather-image {
  text-align: center;
}

.weather-image img {
  display: inline-block; /* Ensures the image respects text alignment */
  max-width: 100%;

  height: auto;
}

/* Extra Small Devices (max-width: 480px) */
@media (max-width: 480px) {
  .weather-details {
    padding: 15px;  /* Slightly less padding on small screens */
  }
  .weather-details p {
    font-size: 16px;  /* Reduce font size for readability */
  }
}

/* Large Screens (min-width: 1200px) */
@media (min-width: 1200px) {
  .weather-details {
    padding: 30px;  /* More generous padding on large screens */
  }
  .weather-details p {
    font-size: 24px;  /* Increase font size for larger displays */
  }
}
